.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  background-color: aliceblue;
  border: 3px solid brown;
}

.fighter-preview___right {
  /* align-items: flex-end; */
  align-items: flex-start;
}

.fighter-preview___left {
  align-items: flex-start;
}
